.artwork-detail {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.artwork-detail img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.artwork-detail h2 {
    color: white;
    font-size: 24px;
    margin-bottom: 10px;
}

.artwork-detail p {
    color: white;
    font-size: 16px;
    line-height: 1.6;
}

.artwork-image-container {
    position: relative;
}

.icon-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    align-items:last baseline;
    padding-bottom: 30px;
    padding-right: 10px;
}

.icon-button {
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 50%;
    padding: 10px;
    transition: background-color 0.3s ease;
    color: black;
}

.icon-button:hover {
    background-color: rgba(255, 255, 255, 1);
}

.save-btn-caption { 
    color: black; 
    opacity: 0;
    background-color: white;
    margin-left: 10px;
    padding-left: 2px;
    padding-right: 2px;
    font-size: xx-small;
    border: black 1px;
}

.icon-button:hover + .save-btn-caption { 
    opacity: 1; 
    color: black;
}

.icon-overlay.clicked .icon-button {
    color: #cb416b;
    transform: scale(1.5);
    transition: all 0.3s ease;
}