.art-gallery {
  max-width: 90%;
  margin: 0 auto;
  }

  .artwork-image {
    max-height: 70vh; 
    width: auto; 
    max-width: 100%; 
    object-fit: contain; 
    border-radius: 8px;
    transition: transform 0.3s ease;
    margin: 0 auto;
  } 

.gallery-item {
  margin: 70px auto auto;
}

.slides .slick-prev,
.slick-next {
    z-index: 1; 
}

.slides .slick-prev {
  left: -1%; 
}

.slides .slick-list {
  margin-bottom: 100px;
}



@media (max-width: 768px) {
    
  .slides .slick-dots {
      display: none !important;
  }

  .slides .slick-prev {
      left: -0.5%; 
  }

 .slides .slick-next {
      right: -0.5%;
  }
}

.icon-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.icon-button {
  border-radius: 10px;
  padding: 10px;
  color: white;
  background-color: black;
  padding-top: 10%;
  padding-right: 10%;
  font-size: larger;
}

.icon-button:hover {
  transform: scale(1.5);
  background-color: transparent;
}

.btn-caption { 
  color: black; 
  opacity: 0;
  background-color: white;
  margin-left: 10px;
  padding-left: 2px;
  padding-right: 2px;
  font-size: small;
  border: black 1px;
}

.icon-button:hover + .btn-caption { 
  opacity: 1; 
  color: black;
}

.icon-overlay.clicked .icon-button {
  color: red;
  transform: scale(1.5);
  transition: all 0.3s ease;
}