.art-gallery {
  max-width: 90%;
  margin: 0 auto;
  }

  .artwork-image {
    max-height: 70vh; 
    width: auto; 
    max-width: 100%; 
    object-fit: contain; 
    border-radius: 8px;
    transition: transform 0.3s ease;
    margin: 0 auto;
  } 

.gallery-item {
  margin: 70px auto auto;
}

.slides .slick-prev,
.slick-next {
    z-index: 1; 
}

.slides .slick-prev {
  left: -1%; 
}

.slides .slick-list {
  margin-bottom: 100px;
}

.btn-caption {
  padding: 2px!important;
  font-size: 16px!important;
  border-radius: 3px;
  background-color: initial!important;
  color: white!important;
}

@media (max-width: 768px) {
    
  .slides .slick-dots {
      display: none !important;
  }

  .slides .slick-prev {
      left: -0.5%; 
  }

 .slides .slick-next {
      right: -0.5%;
  }
}

.icon-button {
  background: transparent;
  border: none;
  color: black;
  cursor: pointer;
  float: right;
  margin-right: 10px;
}

.icon-button:hover {
  transform: scale(1.5);
  background-color: transparent;
}

.btn-caption { 
  color: black; 
  opacity: 0;
  background-color: white;
  font-size: small;
  border: black 1px;
  float: right;
  padding-top: 10px;
}

.icon-button:hover + .btn-caption { 
  opacity: 1; 
  color: black;
}
