  .my-gallery {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
    margin-top: auto;
    margin-bottom: 20px;
  }

  .gallery-item {
    margin: 20px;

  }

  /* Responsive layout - makes a one column layout */
@media only screen and (max-width: 600px) {
    .my-gallery {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: auto;
    }
  }