
.art-gallery main {
    max-width: 90%;
    margin: 0 auto;
}

.art-gallery header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.explorer-title {
    text-align: center;
    font-size: 2rem;
    padding: 2rem;
}

.class-name {
    padding: 1rem;
    font-size: 1.4rem;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.gallery-item {
    text-align: center;
}


.artwork-image {
    max-height: 70vh; 
    width: auto; 
    max-width: 100%; 
    object-fit: contain; 
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.artwork-image:hover {
    transform: scale(1.05);
}

.artwork-description {
    padding: 1rem;
}

.art-gallery footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.slide {
    padding: 15px;
    text-align: center;
    overflow: hidden;
}

.slick-dots li button:before {
    color: #FFFFFF; 
    opacity: 1; 
}

.slick-dots li.slick-active button:before {
    color: #CCCCCC; 
}


.slick-prev:before,
.slick-next:before {
    color: #FFFFFF; 
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.5); 
}


.slick-prev,
.slick-next {
    z-index: 1; 
}

.slick-prev {
    left: -1%; 
}

.loading-text {
    font-size: 24px;
    text-align: center;
    padding: 20px;
}



@media (max-width: 768px) {
    
    .explorer-title {
        font-size: 1.4rem;
        padding: 1.2rem;
    }

    .class-name {
        padding: 1rem;
        font-size: 1.1rem;
    }

    .slick-dots {
        position: absolute;
        bottom: -70px; /* Adjust the distance from the bottom as needed */
        width: 100%;
        list-style: none;
        text-align: center;
        padding: 0;
        margin: 0;
    }

    .slick-prev {
        left: -0.5%; 
    }

    .slick-next {
        right: -0.5%;
    }
  }