.gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 30px; 
    padding: 20px;
}

.class-title {
    font-size: 2rem;
    padding: 2rem;
    text-align: center;
}

.classification-detail .artwork-item {
    text-align: center;
}

.classification-detail .artwork-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

