
* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(rgb(75 85 99), rgb(30 41 59),rgb(75 85 99));
  color: #d9c9ee;
  height: 100%;
}

header {
  padding: 2rem;
  text-align: center;
}


header h1 {
  font-size: 1.5rem;
}

body, html {
  height: 100%;
  margin: 0;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1;
}